<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find sq2_ccv_description)/urdf/common.xacro"/>

  <property name="base2body_length" value="0.319"/>
  <property name="base2body_width" value="0.125"/>
  <property name="base2body_height" value="0.090"/>
  <property name="base2body_mass" value="5.0"/>

  <xacro:macro name="base2body" params="parent *joint_origin">
    <joint name="base2body_link_joint" type="fixed">
      <insert_block name="joint_origin"/>
      <parent link="${parent}"/>
      <child link="base2body_link"/>
    </joint>

    <link name="base2body_link">
      <visual>
        <origin xyz="0.0 0.0 0.045" rpy="0 0 0"/>
        <geometry>
	      <box size="${base2body_length} ${base2body_width} ${base2body_height}"/>
        </geometry>
      </visual>
      <collision>
        <origin xyz="0.0 0.0 0.045" rpy="0 0 0"/>
        <geometry>
	      <box size="${base2body_length} ${base2body_width} ${base2body_height}"/>
        </geometry>
      </collision>
      <inertial>
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
		<box_inertial mass="${base2body_mass}" depth="${base2body_length}" width="${base2body_width}" height="${base2body_height}"/>
      </inertial>
    </link>

  </xacro:macro>

  <xacro:macro name="base2body_gazebo">
    <gazebo reference="base2body_link">
      <selfCollide>false</selfCollide>
      <mu1 value="0.05"/>
      <mu2 value="0.05"/>
    </gazebo>

  </xacro:macro>

</robot>
