<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find sq2_ccv_description)/urdf/common.xacro"/>

  <property name="caster_radius" value="0.0635"/>
  <property name="caster_width" value="0.024"/>
  <property name="caster_mass" value="1.0"/>

  <xacro:macro name="caster" params="prefix parent *joint_origin">
    <joint name="${prefix}_caster_joint" type="fixed">
      <insert_block name="joint_origin"/>
      <parent link="${parent}"/>
      <child link="${prefix}_caster_link"/>
    </joint>

    <link name="${prefix}_caster_link">
      <visual>
		<origin xyz="0 0 0" rpy="${M_PI/2} 0 0"/>
        <geometry>
	  	  <cylinder radius="${caster_radius}" length="${caster_width}"/>
        </geometry>
      </visual>
      <collision>
		<origin xyz="0 0 0" rpy="${M_PI/2} 0 0"/>
        <geometry>
	  	  <cylinder radius="${caster_radius}" length="${caster_width}"/>
        </geometry>
      </collision>
      <inertial>
		<cylinder_inertial mass="${caster_mass}" radius="${caster_radius}" length="${caster_width}"/>
      </inertial>
    </link>
  </xacro:macro>

  <xacro:macro name="caster_gazebo" params="prefix">
    <gazebo reference="${prefix}_caster_link">
      <selfCollide>false</selfCollide>
      <mu1 value="0"/>
      <mu2 value="0"/>
    </gazebo>
  </xacro:macro>

  </robot>
