<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find sq2_ccv_description)/config/controller.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager"
    type="spawner" ns="/sq2_ccv" output="screen"
    args="
      joint_state_controller
      diff_drive_steering_controller
	  battery_box_joint
	  right_steering_joint
	  left_steering_joint
	  front_casters_pitch_joint
	  back_casters_pitch_joint
	  turn_table_joint
  "/>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher"
    type="robot_state_publisher"
    respawn="false" output="screen" ns="/sq2_ccv">
  </node>

</launch>
