<launch>
  <arg name="model" default="$(find sq2_ccv_description)/robot/sq2_ccv.urdf"/>

  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_name)"/>
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
  </include>

  <param name="robot_description" command="$(find xacro)/xacro.py $(arg model)"/>

  <include file="$(find sq2_ccv_description)/launch/control.launch"/>

  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
    args="-urdf -x 0 -y 0 -z 0.5 -model sq2_ccv -param robot_description"/>

  <node pkg="rostopic" type="rostopic" name="init_roll" args="pub -1 /sq2_ccv/battery_box_joint/command std_msgs/Float64 'data: 0.0'"/>
  <node pkg="rostopic" type="rostopic" name="init_left_steering" args="pub -1 /sq2_ccv/left_steering/command std_msgs/Float64 'data: 0.0'"/>
  <node pkg="rostopic" type="rostopic" name="init_right_steering" args="pub -1 /sq2_ccv/right_steering/command std_msgs/Float64 'data: 0.0'"/>

</launch>
